/* 全局通用样式 start */
  body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }
  body {
    line-height: 1;
    padding-bottom: 1.413333rem!important;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 100;
    line-height: 1.1;
  }
  ul, ol, li {
    list-style: none;
  }
  em, i {
    font-style: normal;
  }
  img {
    border: none;
  }
  input, img {
    vertical-align: middle;
  }
  a, a:focus {
    color: inherit;
    text-decoration: none;
  }

  .xtb-m-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 0.4rem;
  }

  /* 清除浮动 */
  .xtb-cf:after {
    display: block;
    content: '';
    clear: both;
    visibility: hidden;
  }
  .xtb-fl {
    float: left;
  }
  .xtb-fr {
    float: right;
  }

  /* 图片居中 */
  .img-box {
    position: relative;
    display: block;
    overflow: hidden;
  }
  .img-box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
  }
  .img-box-width100 img {
    width: 100%;
    height: auto;
  }

  /* 单行超出三点 */
  .xtb-3dots {
    line-height: 1.1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

/* 椭圆标签列表 渐变 start */
  .label-list-m {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
  }
  .label-list-m a {
    display: inline-block;
    padding: 0.266667rem 0.3rem;
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;
    border: 1px solid #d8d8d8;
    border-radius: 0.533333rem;
    font-size: 0.32rem;
    color: #363636;
    background: #fff;
  }
  .label-lolor-list-m a:nth-of-type(3n+1) {
    color: #63b6ff;
    border-color: #63b6ff;
  }
  .label-lolor-list-m a:nth-of-type(3n+2) {
    color: #ff8f92;
    border-color: #ff8f92;
  }
  .label-lolor-list-m a:nth-of-type(3n+3) {
    color: #ffb444;
    border-color: #ffb444;
  }


  /* 彩色标签 */
  .color-label-list a:nth-of-type(3n+1) {
    border-color: #ffaa84;
    color: #ffaa84;
  }
  .color-label-list a:nth-of-type(3n+2) {
    border-color: #ff84aa;
    color: #ff84aa;
  }
  .color-label-list a:nth-of-type(3n+3) {
    border-color: #8db7ff;
    color: #8db7ff;
  }
/* 椭圆标签列表 渐变 end */

  /* 顶部栏样式 */
  .xtb-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.4rem;
    border-bottom: 1px solid #b3b3b3;
    height: 1.333333rem;
    font-size: 0.48rem;
    color: #363636;
    background-color: #fff;
  }
  .xtb-header .header-left {
    margin-right: 0.4rem;
  }
  .xtb-header .header-left a {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
  }
  .xtb-header .header-left a span {
    padding-left: 0.133333rem;
  }
  .xtb-header .header-center {
    position: relative;
    /*display: flex;*/
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
  }
  .xtb-header .search-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0.4rem;
    width: 100%;
    height: 0.906667rem;
    border: 0;
    border-radius: 0.053333rem;
    font-size: 0.346667rem;
    font-weight: normal;
    color: #9fa7b8;
    background: #e9edf0;
  }
  .xtb-header .search-btn i {
    display: inline-block;
    margin-right: 0.133333rem;
    width: 0.453333rem;
    height: 0.453333rem;
    background: url(../images/class_Serch.png) no-repeat center/contain;
  }
  .xtb-header .header-right {
    margin-left: 0.4rem;
    font-size: 0.373333rem;
    font-weight: bold;
  }

  .color-header {
    color: #fff;
    border-bottom: 0;
    background: url(../images/article_topBG.png) no-repeat center/100%;
  }
  .color-header .header-right {
    color: #fff;
  }
  .color-header .header-right a {
    display: flex;
    align-items: center;
  }
  .color-header .header-right span {
    padding-left: 0.066667rem;
  }
  .xtb-header.color-header .search-btn {
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
  }
  .xtb-header.color-header .search-btn i {
    background-image: url(../images/article_serch.png);
  }


  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #9c9c9c;
    width: 100%;
    height: 1.413333rem;
    background: #fff;
    z-index: 100;
  }
  .footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  .footer a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.293333rem;
    color: #9c9c9c;
  }
  .footer .active a {
    color: #ff8d8d;
  }
  .footer i {
    margin-bottom: 0.16rem;
    width: 0.653333rem;
    height: 0.653333rem;
    background: no-repeat center/contain;
  }
  .footer li:nth-of-type(1) i {
    background-image: url(../images/1-0.png)
  }
  .footer li:nth-of-type(2) i {
    background-image: url(../images/2-0.png)
  }
  .footer li:nth-of-type(3) i {
    background-image: url(../images/3-0.png)
  }
  .footer li:nth-of-type(4) i {
    background-image: url(../images/4-0.png)
  }

  .footer li:nth-of-type(1).active i {
    background-image: url(../images/1-1.png)
  }
  .footer li:nth-of-type(2).active i {
    background-image: url(../images/2-1.png)
  }
  .footer li:nth-of-type(3).active i {
    background-image: url(../images/3-1.png)
  }
  .footer li:nth-of-type(4).active i {
    background-image: url(../images/4-1.png)
  }

  /* 文章列表 */
  .article-list {
    width: 100%;
    background: #fff;
  }
  .article-list a {
    display: flex;
    justify-content: space-between;
    height: 2.773333rem;
    padding: 0.266667rem 0.4rem;
    border-top: 1px solid #c9c9c9;
  }
  .article-list-left {
    width: 4.933333rem;
  }
  .article-list h2 {
    margin-bottom: 0.3rem;
    height: 1.466667rem;
    overflow: hidden;
    font-size: 0.48rem;
    color: #000;
    font-weight: bold;
    line-height: 1.4;
  }
  .article-list p {
    width: 100%;
  }
  .article-list p span {
    padding-right: 0.133333rem;
    font-size: 0.293333rem;
    color: #9c9c9c;
  }
  .article-list .img-box {
    width: 4.0rem;
    height: 2.24rem;
  }

  .bar-img {
    margin: 0.24rem 0;
  }
  .bar-img a {
    padding: 0;
    height: auto;
    border: 0;
  }
  .bar-img img {
    width: 100%;
  }
/* 全局通用样式 end */

/* 常见问题弹框 start */
  .service-box .am-modal-dialog {
    width: 8.8rem;
    border-radius: 0.586667rem;
    padding-top: 0.4rem;
  }
  .service-box .service-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.48rem;
    font-size: 0.746667rem;
    color: #363636;
  }
  .service-box .service-title img {
    margin-right: 0.133333rem;
  }
  .service-box .problem-box {
    padding: 0 0.266667rem;
    text-align: left;
    min-height: 7.066667rem;
  }
  .service-box .problem-list li {
    padding-left: 0.266667rem;
    line-height: 1rem;
    border-bottom: 1px solid #e8e8e8;
    font-size: 0.426667rem;
  }
  .service-box .problem-list li:last-of-type {
    border-bottom: 0;
  }
  .service-box .show-problem {
    text-align: left;
    display: none;
  }
  .service-box .show-problem .problem-title {
    color: #5795ff;
    font-size: 0.5rem;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 0.48rem;
    text-align: center;
  }
  .service-box .show-problem p {
    font-size: 0.48rem;
    line-height: 1.6;
    margin-bottom: 0.48rem;
  }
  .service-box .show-problem a {
    display: block;
    width: 100%;
    font-size: 0.48rem;
    color: #5795ff;
  }

  .service-box .problem-tips {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.4rem;
    font-size: 0.373333rem;
  }
  .service-box .problem-tips .other-problem {
    color: #9c9c9c;
  }
  .service-box .problem-tips .go-rengong {
    display: flex;
    align-items: center;
    color: #5795ff;
  }

  .service-box .video-teaching {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    padding: 0 0.4rem;
    background-color: #e2ecff;
    text-align: right;
    height: 1.9rem;
    border-radius: 0 0 0.586667rem 0.586667rem;
  }
  .service-box .video-teaching span {
    font-size: 0.426667rem;
    color: #363636;
  }
  .service-box .video-teaching img {
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
  }
  .service-box .close-service-box {
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
  }
/* 常见问题弹框 end */

/* 首页样式 start */
  .xtb-index {
    /*padding-bottom: 2.666667rem;*/
  }
  .index-header {
    margin-bottom: 0.96rem;
    background: url(../images/index_topBG.png) no-repeat center top/100%;
  }
  .index-header .img-box {
    /*width: 9.2rem;*/
    height: 4.52rem;
  }
  .index-header .swiper-container {
    border-radius: 0.24rem;
    overflow: hidden;
    border: 0.106667rem solid #fff;
    box-shadow: 0 0.04rem 0.4rem rgba(255,52,52,.4);
  }
  .index-header .swiper-pagination {
    margin-bottom: 0.266667rem;
    padding-right: 0.533333rem;
    text-align: right;
  }
  .index-header .swiper-pagination-bullet {
    width: 0.16rem;
    height: 0.16rem;
    opacity: .6;
    background: #fff;
  }
  .index-header .swiper-pagination-bullet-active {
    width: 0.64rem;
    border-radius: 1rem;
    opacity: 1;
  }
  .index-header .white-border {
    /*position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0.106667rem solid #fff;
    border-radius: 0.24rem;
    z-index: 10;*/
  }

  .index-item {
    padding-left: 0.4rem;
    padding-bottom: 0.986667rem;
  }
  .index-item h2 a {
    display: flex;
    margin-bottom: 14px;
    align-items: center;
    font-size: 0.56rem;
    font-weight: bold;
    color: #363636;
    line-height: 1;
  }
  .index-item h2 i {
    margin-left: 10px;
    width: 0.426667rem;
    height: 0.426667rem;
    background: url(../images/index_All.png) no-repeat center/contain;
  }
  .index-item .item-desc {
    margin-bottom: 28px;
    font-size: 0.293333rem;
    color: #9c9c9c;
  }

  .invit-template-slide .gallery-thumbs {
    padding: 0.32rem 0 1.4rem 0.64rem;
    /*margin-bottom: 1.4rem;*/
    /*overflow: visible;*/
  }
  .invit-template-slide .gallery-thumbs .swiper-slide {
    margin-right: 30px;
    width: 3.653333rem;
    height: 5.84rem;
  }
  .invit-template-slide a {
    width: 100%;
    height: 100%;
    border-radius: 0.16rem;
    overflow: hidden;
  }
  .invit-template-slide a span {
    position: absolute;
    bottom: 0.64rem;
    left: 0;
    padding: 0.186667rem 0.4rem 0.186667rem 0.213333rem;
    font-size: 0.346667rem;
    color: #363636;
    border-radius: 0 0.64rem 0.64rem 0;
    background: #ffde3b;
  }
  .invit-template-slide .invit-template-slide-pagination {
    height: 0.933333rem;
    text-align: left;
    bottom: 0;
  }
  .invit-template-slide .invit-template-slide-pagination>.swiper-pagination-bullet {
    opacity: 0;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    padding-left: 0.4rem;
    width: 100%;
    height: 0.933333rem;
    border-radius: 0;
    background-color: transparent;
    transition: opacity .2s linear;
  }
  .invit-template-slide .invit-template-slide-pagination .swiper-pagination-bullet-active {
    opacity: 1;
  }
  .invit-template-slide .invit-template-slide-pagination h2 {
    margin-bottom: 0.186667rem;
    font-size: 0.346667rem;
    color: #363636;
    font-weight: bold;
  }
  .invit-template-slide .invit-template-slide-pagination p {
    padding-right: 0.266667rem;
    font-size: 0.293333rem;
    color: #a1a7b5;
  }

/*  .invit-template-slide .gallery-text h2 {
    margin-bottom: 0.186667rem;
    font-size: 0.346667rem;
    color: #363636;
    font-weight: bold;
  }
  .invit-template-slide .gallery-text p span {
    padding-right: 0.266667rem;
    font-size: 0.266667rem;
    color: #a1a7b5;
  }*/

  .item-scroll .swiper-slide {
    float: left;
    margin-right: 0.4rem;
  }
  .item-scroll a {
    display: block;
    width: 100%;
  }
  .item-scroll a>div {
    position: relative;
    border-radius: 0.16rem;
    overflow: hidden;
    margin-bottom: 0.213333rem;
  }
  .item-scroll a p {
    padding: 0 0.133333rem;
    font-size: 0.32rem;
    color: #363636;
  }
  .invit-scroll a span {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.133333rem;
    padding-left: 0.266667rem;
    border-radius: 0 0 0 0.8rem;
    font-size: 0.32rem;
    color: #fff;
    background: red;
  }
  .article-scroll a>div {
    width: 5.84rem;
    height: 3.266667rem;
  }
  .article-scroll a span {
    position: absolute;
    left: 0.266667rem;
    bottom: 0.16rem;
    color: #fff;
    font-size: 0.266667rem;
  }
  .article-scroll a .shadow {
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 0.6rem 0.4rem rgba(0,0,0,.4);
  }
  .article-scroll a p {
    font-size: 0.373333rem;
  }
  .item-scroll img {
    width: 100%;
  }
  .zhuanti-scroll .swiper-slide {
    width: 5.84rem;
  }
  .invit-scroll .swiper-slide {
    width: 2.933333rem;
  }
  .article-scroll .swiper-slide {
    width: 5.84rem;
  }
  .mini-pro-qr-code .am-modal-dialog {
    width: 8.266667rem;
    background-color: transparent;
  }
  .mini-pro-qr-code .am-modal-dialog img {
    width: 100%;
  }
  .mini-pro-qr-code .close-qr-code {
    position: absolute;
    top: 0;
    right: 0.4rem;
    color: #fff;
  }


  .index-tips {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .index-tips p {
    font-size: 0.373333rem;
    color: #707070;
    font-weight: bold;
    margin-bottom: 0.213333rem;
  }
  .index-tips h2 {
    font-size: 0.56rem;
    color: #363636;
    font-weight: bold;
    margin-bottom: 0.4rem;
  }
  .index-tips .go-invit-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.306667rem;
    height: 1.066667rem;
    border-radius: 1.066667rem;
    font-size: 0.48rem;
    color: #fff;
    font-weight: bold;
    background: #ff4040;
  }
  .help-btn {
    position: fixed;
    bottom: 2.0rem;
    right: 0.4rem;
    z-index: 10;
  }
/* 首页样式 end */

/* 推荐专题 start */
  .recommend-topic {
    padding-top: 0.4rem;
  }
  .recommend-topic .topic-item {
    margin-bottom: 0.533333rem;
    border-radius: 0.16rem;
    overflow: hidden;
    box-shadow: 0 0.106667rem 0.4rem rgba(0,0,0,.2);
  }
  .recommend-topic img {
    width: 100%;
  }
  .recommend-topic span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.066667rem;
    font-size: 0.426667rem;
    color: #363636;
    background: #fff;
  }
/* 推荐专题 end */


/* 请柬分类页 start */
  .invit-classify .invit-sel-bar {
    display: flex;
    background: #fff;
  }
  .invit-classify .invit-sel-bar li {
    position: relative;
    width: 50%;
    /*flex-grow: 1;*/
  }
  .invit-classify .invit-sel-bar li:first-of-type:after {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 0;
    height: 0.906667rem;
    border-right: 1px solid #b2b2b2;
  }
  .invit-classify .invit-sel-bar a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.173333rem;
    font-size: 0.426667rem;
    font-weight: bold;
    color: #9c9c9c;
  }
  .invit-classify .invit-sel-bar .am-active a {
    color: #363636;
    background: url(../images/select.png) no-repeat center bottom;
  }
  .invit-classify .invit-show {
    border: 0;
  }
  .invit-classify .invit-show .am-tab-panel {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/

    padding: 0.4rem;
  }
  .invit-classify .invit-item {
    position: relative;
    padding-top: 0.346667rem;
    margin-bottom: 0.266667rem;
    margin-right: 0.2rem;
    width: 2.933333rem;
    border-radius: 0.16rem;
    overflow: hidden;
    background: no-repeat center top;
  }
  .invit-classify .invit-item:nth-of-type(3n+3) {
    margin-right: 0;
  }
  .invit-classify .invit-item:nth-of-type(6n+1) {
    background-image: url(../images/class_bg1.png)
  }
  .invit-classify .invit-item:nth-of-type(6n+2) {
    background-image: url(../images/class_bg2.png)
  }
  .invit-classify .invit-item:nth-of-type(6n+3) {
    background-image: url(../images/class_bg3.png)
  }
  .invit-classify .invit-item:nth-of-type(6n+4) {
    background-image: url(../images/class_bg4.png)
  }
  .invit-classify .invit-item:nth-of-type(6n+5) {
    background-image: url(../images/class_bg5.png)
  }
  .invit-classify .invit-item:nth-of-type(6n+6) {
    background-image: url(../images/class_bg6.png)
  }
  .invit-classify .invit-item img {
    width: 100%;
    border-radius: 0.16rem;
  }
  .invit-classify .invit-item p {
    position: absolute;
    bottom: 0.266667rem;
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 0.48rem;
    font-weight: bold;
    color: #fff;
  }
  .invit-classify .invit-item span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 0.6rem 0.6rem rgba(0,0,0,.4);
  }
/* 请柬分类页 end */

/* 请柬排序页 start */
  .select-bar {
    position: relative;
    margin-bottom: 0.4rem;
  }
  .sort-selector {
    position: relative;
    display: flex;
    background: #fff;
  }
  .sort-selector:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 0;
    height: .64rem;
    border-right: 1px solid #777;
  }
  .sort-selector > div {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.173333rem;
    font-size: 0.426667rem;
    font-weight: bold;
    color: #707070;
  }
  .sort-selector > div i {
    width: 25px;
    height: 14px;
    margin-left: 6px;
    background: url(../images/cardlist_selectClose.png) no-repeat center center/contain;
  }
  .sort-selector > div.open {
    color: #363636;
  }
  .sort-selector > div.open i {
    background-image: url(../images/cardlist_selectOpen.png);
  }
  .select-bar .slide {
    display: none;
    position: absolute;
    top: 110%;
    background: #fff;
    width: 100%;
    z-index: 10;
  }
  .invit-sort ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .invit-sort li {
    display: flex;
    align-items: center;
    height: 1.333333rem;
    font-size: 0.373333rem;
    color: #9c9c9c;
  }
  .invit-sort li:last-of-type {
    margin-right: 0.8rem;
  }
  .invit-sort li.active {
    color: #ff4040;
  }
  .invit-sort li i {
    margin-right: 0.266667rem;
    width: 0.373333rem;
    height: 0.373333rem;
    background: no-repeat center/contain;
  }
  .invit-sort .default-sort i {
    background-image: url(../images/cardlist_sort1-0.png)
  }
  .invit-sort .recommend-sort i {
    background-image: url(../images/cardlist_sort2-0.png)
  }
  .invit-sort .hot-sort i {
    background-image: url(../images/cardlist_sort3-0.png)
  }
  .invit-sort .newest-sort i {
    background-image: url(../images/cardlist_sort4-0.png)
  }
  .invit-sort .default-sort.active i {
    background-image: url(../images/cardlist_sort1-1.png)
  }
  .invit-sort .recommend-sort.active i {
    background-image: url(../images/cardlist_sort2-1.png)
  }
  .invit-sort .hot-sort.active i {
    background-image: url(../images/cardlist_sort3-1.png)
  }
  .invit-sort .newest-sort.active i {
    background-image: url(../images/cardlist_sort4-1.png)
  }
  .invit-color ul {
    display: flex;
    padding-bottom: .266667rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  .invit-color li {
    position: relative;
    margin: .266667rem .2rem 0;
    width: 1.066667rem;
    height: 1.066667rem;
    font-size: .64rem;
    color: #fff;
  }
  .invit-color li i {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    width: .533333rem;
    height: .533333rem;
    line-height: .533333rem;
    text-align: center;
    background: red;
  }
  .invit-color li.active i {
    display: block;
  }


  

  .invit-sort-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .invit-sort-list li {
    margin-bottom: 0.533333rem;
  }
  .invit-sort-list a {
    display: block;
    width: 4.32rem;
  }
  .invit-sort-list img {
    width: 100%;
  }
  .invit-sort-list a > span {
    position: relative;
    display: block;
    margin-bottom: 0.133333rem;
    border-radius: 0.16rem;
    overflow: hidden;
  }
  .invit-sort-list .price {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.133333rem;
    padding-left: 0.266667rem;
    border-radius: 0 0 0 0.8rem;
    font-size: 0.373333rem;
    color: #fff;
    background: red;
  }
  .invit-sort-list p {
    font-size: 0.373333rem;
    color: #363636;
  }
/* 请柬排序页 end */

/* 百科栏目 start */
  .lanmu-content {
    padding-top: 0.56rem;
  }
  .lanmu-content .lanmu-item {
    margin-bottom: 0.666667rem;
  }
  .lanmu-item h2 a {
    display: flex;
    align-items: center;
    margin-bottom: 0.48rem;
    font-size: 0.373333rem;
    font-weight: bold;
    line-height: 1.1;
    color: #363636;
  }
  .lanmu-item h2 a i {
    position: relative;
    top: 0.053333rem;
    margin-left: 0.133333rem;
    width: 0.4rem;
    height: 0.4rem;
    background: url(../images/article_more2.png) no-repeat center/contain;
  }
/* 百科栏目 end */

/* 文章百科 start */
  .article-sel-bar1 {
    position: relative;
    border-bottom: 1px solid #c9c9c9;
  }
  .article-sel-bar1 .swiper-slide {
    width: auto;
  }
  .article-sel-bar1 .swiper-slide a {
    display: block;
    margin-left: 0.4rem;
    min-width: 1.333333rem;
    height: 1.173333rem;
    line-height: 1.173333rem;
    font-size: 0.373333rem;
    font-weight: bold;
    color: #707070;
  }
  .article-sel-bar1 .swiper-slide a.active {
    color: #363636;
    background: url(../images/select.png) no-repeat center bottom;
  }
  .article-sel-bar1 .go-to-lanmu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
  }
  .article-sel-bar1 .go-to-lanmu img {
    height: 1.146667rem;
  }
  .article-sel-bar2 {
    position: relative;
    border-bottom: 1px solid #c9c9c9;
    background: #f0f3f5;
  }
  .article-sel-bar2 .swiper-slide {
    width: auto;
    margin-left: 0.4rem;
  }
  .article-sel-bar2 .swiper-slide:last-of-type {
    margin-right: 0.4rem;
  }
  .article-sel-bar2 .swiper-slide a {
    display: block;
    height: 0.853333rem;
    line-height: 0.853333rem;
    font-size: 0.373333rem;
    font-weight: bold;
    color: #707070;
  }
  .article-sel-bar2 .swiper-slide a.active {
    color: #363636;
  }

  .article-hot-slider .swiper-container {
    padding: 0.8rem 0 0.533333rem;
  }
  .article-hot-slider .swiper-slide {
    width: auto;
    margin: 0 0.3rem;
  }
  .article-hot-slider .swiper-slide a {
    position: relative;
    display: block;
    width: 8.266667rem;
    height: 4.8rem;
    border-radius: 0.16rem;
    overflow: hidden;
    transform-origin: center bottom;
  }
  .article-hot-slider .swiper-slide span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    box-shadow: 0 0 0.6rem 0.4rem rgba(0,0,0,.4);
  }
  .article-hot-slider .swiper-slide h2 {
    position: absolute;
    left: 0;
    bottom: 0.16rem;
    padding: 0 0.266667rem;
    width: 100%;
    color: #fff;
    font-weight: bold;
    font-size: 0.48rem;
  }

  .article-zhuanti-slider {
    margin-bottom: 0.533333rem;
  }
  .article-zhuanti-slider .swiper-slide {
    width: auto;
    margin-left: 0.4rem;
  }
  .article-zhuanti-slider .swiper-slide:last-of-type {
    margin-right: 0.4rem;
  }
  .article-zhuanti-slider .swiper-slide a {
    display: block;
    width: 3.573333rem;
    height: 1.04rem;
    border-radius: 0.16rem;
    overflow: hidden;
  }
  .article-zhuanti-slider .swiper-slide a img {
    width: 100%;
  }
/* 文章百科 end */

/* 文章详情 start */
  .article-detail {
    margin-bottom: 0.8rem;
  }
  .article-detail h1 {
    margin-bottom: 0.32rem;
    font-size: 0.56rem;
    color: #363636;
    font-weight: bold;
  }
  .article-detail .article-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.32rem;
    font-size: 0.346667rem;
    color: #707070;
  }
  .article-detail .article-content p {
    margin-bottom: 0.266667rem;
    font-size: 0.45rem;
    color: #363636;
    line-height: 1.6;
    text-indent: 2em;
  }
  .article-detail .article-content p img {
    position: relative;
    left: -1em;
  }

  .readall-box {
    position: relative;
    z-index: 9;
    padding: 0 0 0.333333rem;
    margin-top: -2.933333rem;
    text-align: center;
  }
  .readall-box .read-more-mask {
    height: 2.666667rem;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  }
  .readall-box .readall-btn-box {
    background-color: #fff;
  }
  .readall-box .readall-btn {
    display: inline-block;
    padding-bottom: 0.7rem;
    font-size: 0.373333rem;
    color: #363636;
    background: url(../images/article_More.png) no-repeat center bottom/contain;
  }

  .article-item {
    padding-top: 0.48rem;
  }
  .article-item > h2 {
    margin-bottom: 0.56rem;
    font-size: 0.48rem;
    color: #363636;
    font-weight: bold;
    text-align: center;
  }
  .article-item > h2 span {
    position: relative;
  }
  .article-item > h2 span:before,
  .article-item > h2 span:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 0.586667rem;
    height: 0;
    border-bottom: 1px solid #707070;
  }
  .article-item > h2 span:before {
    left: -50%;
  }
  .article-item > h2 span:after {
    right: -50%;
  }
  .article-item a {
    border-color: transparent;
  }

  .hot-word-list li {
    margin-bottom: 0.32rem;
  }
  .hot-word-list a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.4rem;
    height: 0.8rem;
    border: 1px solid #c9c9c9;
    border-radius: 0.8rem;
  }
  .hot-word-list .hot-word {
    font-size: 0.346667rem;
    color: #000;
  }
  .hot-word-list .view-time {
    display: flex;
    align-items: center;
    font-size: 0.32rem;
    color: #363636;
  }
  .hot-word-list .view-time i {
    margin-right: 0.133333rem;
    width: 0.32rem;
    height: 0.373333rem;
    background: url(../images/article_bottomFire.png) no-repeat center/contain;
  }
  .hot-word-list li:last-of-type a {
    justify-content: center;
    font-size: 0.373333rem;
    color: #363636;
    height: 1.066667rem;
  }
  .hot-word-list li:last-of-type span {
    color: #ff4040;
  }

  .article-share {
    display: flex;
    justify-content: center;
    margin-bottom: 0.8rem;
  }
  .article-share .share-item {
    display: flex;
    align-items: center;
    justify-content: center;
    /*flex-grow: 1;*/
    margin-right: 0.293333rem;
    padding: 0 0.5rem;
    /*width: 2.933333rem;*/
    height: 1.066667rem;
    border: 1px solid #9c9c9c;
    border-radius: 1.066667rem;
    font-size: 0.373333rem;
    color: #363636;
  }
  .article-share .share-item:last-of-type {
    margin-right: 0;
  }
  .article-share .share-item i {
    margin-right: 0.133333rem;
    width: 0.8rem;
    height: 0.64rem;
    background: no-repeat center/contain;
  }
  .article-share .wechat i {
    background-image: url(../images/article_shareWeixin1.png);
  }
  .article-share .wechat-pyq i {
    background-image: url(../images/article_shareFriend1.png);
  }
  .article-share .weibo i {
    background-image: url(../images/article_shareWeibo1.png);
  }
  #share-in-wechat > div {
    position: absolute;
    top: 0.8rem;
  }
  #share-in-wechat > div img {
    margin-bottom: 2rem;
  }
  #share-in-notwechat .am-modal-dialog {
    width: 90%;
    padding: 0.4rem;
    text-align: center;
    border-radius: 0.213333rem;
  }
  #share-in-notwechat .am-modal-dialog p {
    font-size: 0.373333rem;
    color: #363636;
    margin-bottom: 0.3rem;
  }
  #share-in-notwechat .am-modal-dialog input {
    width: 90%;
    height: 0.906667rem;
    border: 1px solid #dbdbdb;
    background-color: #e8e8e8;
    margin-bottom: 0.8rem;
    padding: 0 0.4rem;
    border-radius: 0.053333rem;
    font-size: 0.346667rem;
    color: #9fa7b8;
  }
  #share-in-notwechat .am-modal-dialog .copy-keyword-action {
    display: inline-block;
    width: 2.933333rem;
    height: 1.066667rem;
    line-height: 1.066667rem;
    border-radius: 1.066667rem;
    border: 1px solid #c9c9c9;
  }

  .share-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3.306667rem;
    background-color: #fff;
  }
  .share-list .share-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.373333rem;
    color: #363636;
  }
  .share-list .share-item i {
    margin-bottom: 0.266667rem;
    width: 1.066667rem;
    height: 1.066667rem;
    background: no-repeat center/contain;
  }
  .share-list .wechat i {
    background-image: url(../images/article_shareWeixin2.png);
  }
  .share-list .wechat-pyq i {
    background-image: url(../images/article_shareFriend2.png);
  }
  .share-list .weibo i {
    background-image: url(../images/article_shareWeibo2.png);
  }
  .share-list .copy-url i {
    background-image: url(../images/article_shareCopy.png);
  }


/* 文章详情 end 